/*
Source: https://codepen.io/imprakash/pen/GgNMXO
*/
.ratufa-overlay 
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.ratufa-popup-container{
    margin: 70px auto;
    position: relative;
    background: #fff;
    transition: all 5s ease-in-out;
    border-radius: 5px;
    width: 30%;
    padding: 5px;
    min-height:340px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a5568;
    line-height: 150%;
}
.ratufa-popup-container .ratufa-popup-close {
    position: absolute;
    top: 10px;
    right: 10px; 
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #2d3748;
}
.ratufa-popup-container .ratufa-popup-close:hover{
    color: #4299e1;
}
.ratufa-popup-container  .ratufa-popup-title
{
    font-size: 22px;
    margin-bottom: 10px;
}

.ratufa-popup 
{
    padding: 15px;
}
.ratufa-error{
    color: #d32f2f;
    font-size: 0.8rem;
    padding: 0.25rem;
}

.ratufa-spinner
{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.ratufa-spinner-status
{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #a0aec0;
    margin-top:1rem;
}
.ratufa-spinner-animation,
.ratufa-spinner-animation:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  overflow:hidden;
}
.ratufa-spinner-animation {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(40,36,36, 0.2);
  border-right: 0.5em solid rgba(40,36,36, 0.2);
  border-bottom: 0.5em solid rgba(40,36,36, 0.2);
  border-left: 0.5em solid #2563EB;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.8s infinite linear;
  animation: load8 0.8s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#ratufa_stripe_button
{
    padding:1rem 2rem; 
    background: #1e90ff; border-radius: 6px; font-family: sans-serif; font-weight: bold; color:#F3F4F6; border:0; cursor:pointer; font-size:1.25rem;    
    transition-timing-function: ease-in;
    transition-duration: 100ms;
}
#ratufa_stripe_button:hover{
    color:#fff;
    transform: scale(104%);
}
#ratufa_stripe_button:active
{
    transform: translateY(4px);
}